@model J6.Models.CreateRoleVM
@{

    ViewBag.Title = "Create Role";

}


<!DOCTYPE html>
<html>


<body class="signup-page">
    <div class="signup-box">

        <a asp-controller="Admin" asp-action="Index">Back To Roles</a>

        <div class="card">
            <div class="body">
                <form asp-controller="Admin" asp-action="CreateRole" method="POST">
                    <div class="msg">Create Role</div>

                    <div asp-validation-summary="All" class="text-danger"></div>

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input class="form-control" placeholder="Enter Role Name" asp-for="RoleName">
                        </div>
                        <div class="">
                            <span asp-validation-for="RoleName" class="text-danger"></span>
                        </div>
                    </div>

                    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="~/plugins/jquery/jquery.min.js"></script>


    <!-- Validation Plugin Js -->
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

</body>

</html>
