@model J6.DAL.Entities.Order
@using J6
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CustimerId" class="control-label"></label>
                <select asp-for="CustimerId" class="form-control" asp-items="ViewBag.CustimerId"></select>
                <span asp-validation-for="CustimerId" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                            <label asp-for="Status" class="control-label"></label>
                            @*<select asp-for="Size" class="form-control"></select>*@
                             <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<OrderStatus>()"></select>

                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
            <div class="form-group">
                <label asp-for="OrderCost" class="control-label"></label>
                <input asp-for="OrderCost" class="form-control" />
                <span asp-validation-for="OrderCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

