@model J6.DAL.ViewModels.ProductsEditViewModel
@using J6
@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Product @Model.Id</h4>
<hr />
<div class="col-md-10 mx-auto py-4 font-16">
    <div class="card">
        <div class="card-header bg-warning text-uppercase">
            <h2>Edit Product</h2>
        </div>

        <div class="card-body text-white" style="background-color: navy">
            <form asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="SoldQuantities" class="control-label"></label>
                            <input asp-for="SoldQuantities" class="form-control" />
                            <span asp-validation-for="SoldQuantities" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Quantity" class="control-label"></label>
                            <input asp-for="Quantity" class="form-control" />
                            <span asp-validation-for="Quantity" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Image">Upload Photo</label>
                            <input type="file" asp-for="Image" accept="jpg,png,gif" class="form-control" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Color" class="control-label"></label>
                            <input asp-for="Color" class="form-control" />
                            <span asp-validation-for="Color" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Size" class="control-label"></label>
                            @*<select asp-for="Size" class="form-control"></select>*@
                             <select asp-for="Size" asp-items="Html.GetEnumSelectList<Size>()"></select>

                            <span asp-validation-for="Size" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="ProductName" class="control-label"></label>
                            <input asp-for="ProductName" class="form-control" />
                            <span asp-validation-for="ProductName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Model" class="control-label"></label>
                            <input asp-for="Model" class="form-control" />
                            <span asp-validation-for="Model" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Rating" class="control-label"></label>
                            <input asp-for="Rating" class="form-control" />
                            <span asp-validation-for="Rating" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Discount" class="control-label"></label>
                            <input asp-for="Discount" class="form-control" />
                            <span asp-validation-for="Discount" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Ship" class="control-label"></label>
                            @*<select asp-for="Ship" class="form-control"></select>*@
                             <select asp-for="Ship"  asp-items="Html.GetEnumSelectList<ShappedType>()"></select>

                            <span asp-validation-for="Ship" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="UpdatedAt" class="control-label"></label>
                            <input asp-for="UpdatedAt" class="form-control" />
                            <span asp-validation-for="UpdatedAt" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="material" class="control-label"></label>
                            <input asp-for="material" class="form-control" />
                            <span asp-validation-for="material" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="BrandId" class="control-label"></label>
                            <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
                            <span asp-validation-for="BrandId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PromotionId" class="control-label"></label>
                            <select asp-for="PromotionId" class="form-control" asp-items="ViewBag.PromotionId"></select>
                            <span asp-validation-for="PromotionId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="SubcategoryId" class="control-label"></label>
                            <select asp-for="SubcategoryId" class="form-control" asp-items="ViewBag.SubcategoryId"></select>
                            <span asp-validation-for="SubcategoryId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-sm btn-warning text-uppercase mt-4 p-2" />
                        </div>
                    </div>
                </div>
            </form>
    <a asp-action="Index" class="btn btn-sm btn-primary text-uppercase p-3"><i class="fa fa-arrow-circle-left fa-2x"></i></a>
</div>
    </div>
</div>


